.App {
  text-align: center;
}
/* Login and Update page CSS */
.login,.update{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('D:\Semesters\Semester8\FYP\ehealth\src\components\pages\eye.jpg');
  background-repeat:no-repeat; 
}
.login-container,.update-container{
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 1px 0px 9px 1px rgba(0, 0, 0, 0.4);
}
/* Signup page CSS */
.signup{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('D:\Semesters\Semester8\FYP\ehealth\src\components\pages\eye.jpg');
  background-repeat:no-repeat; 
}
.aboutus{
  background-image: url('D:\Semesters\Semester8\FYP\ehealth\src\components\pages\aboutus.jpg');
}

.signup-container{
  background-color:white;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  border-radius: 5px;
  width: 50%;
  box-shadow: 1px 0px 9px 1px rgba(0, 0, 0, 0.4);
}
/* Profile page css */
.profile,.delete{
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-container, .delete-container{
  background-color: #009bff;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 5rem;
  padding: 5rem;
  border-radius: 5px ;
  box-shadow: 1px 0px 9px 1px rgba(0, 0, 0, 0.4);
}

.profile-container h2{
  color: white;
  margin-bottom: 1rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* Footer Aboutus page css */
footer {
  background-color: black;

}

.footer {
  width: 85vw;
  max-width: 100%;
  padding: 5rem;
  display: flex;
}

.col_1 {
  width: 25%;
}

.col_1 h2 {
  color: white;
  font-size: 2rem;
  font-weight: bold;
}

.col_1 .heart {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.col_1 .heart i {
  color: #ffb299;
  font-weight: bolder;
  font-size: 1.8rem;
  margin-right: 4rem;
}

.col_1 .heart span {
  color: white;
}

.col_1 .footer_description {
  color: #b5c5c0;
  letter-spacing: .13px;
  line-height: 1.75;
}

.col_1 .footer-socialIcon {
  margin: 1rem 0;
  font-size: 1.8rem;
  color: #ffb299;
}

.col_1 .footer-socialIcon .fa-twitter {
  margin-right: 1rem;
}

.col_2 {
  width: 70%;
  display: flex;
  margin-left: 3rem;
}

.links-heading {
  color: white;
}

.links-container {
  width: 40%;
  margin-right: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.col_2 .divider {
  width: 100%;
  margin: 1rem 0;
  border-top: 1px solid white;
}

.links-description {
  list-style: none;
  width: 100%;
}

.links-description li {
  list-style: none;
  text-decoration: none;
  margin: .2rem 0;
  width: 100%;
  text-align: start;

}

.links-description li a {
  text-decoration: none;
  width: 100%;
}

.links-description li a span {
  color: #b5c5c0;
  width: 100%;
  font-size: 1rem;
}

.copyright {
  color: rgb(233, 231, 231);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyright span, .fa-circle {
  margin-right: 1rem;
  font-size: .9rem;
  margin-bottom: 3.5rem;
}

.fa-circle {
  color: #ffb299;
  font-size: .5rem;
}
.navlinks{
  color:white;
  text-decoration: none;
  font-size:1.4rem;

}
/* Appointment css */
.appointment{
  display: flex;
  align-items: right;
  justify-content: right;
  height: 100vh;
  background-image: url('https://wallpaperaccess.com/full/3718238.jpg');
  background-repeat:no-repeat; 
}
.appointment-container{
  background-color: white;
  width: 500px;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  border-radius: 5px;
}